:root {
  --background-color: #1e252b;
  --title-font-color: #ffffffe5;
  --general-font-color: #ffffff8c;
  --Login-font-color: #ffffffc7;
  --Cost-font-color: #ffa5378c;
}
button {
  cursor: pointer;
}
body{
  font-family: Poppins;
  background-color: #1e252b;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}  
.header-logo{
font-size: 22px;
font-weight: 600;
line-height: 33px;
letter-spacing: 0em;
color: #FFFFFFE5;
}
.nav-list-link{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
color: #FFFFFF8C;
}
.button-list{
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
}
.section-hero-title{
font-size: 50px;
font-weight: 500;
line-height: 70px;
letter-spacing: 0em;
color: #FFFFFFE5;
max-width: 600px;
}
.section-hero-text{
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
color: #FFFFFF8C;
max-width: 487px;
}
.social-list{
  display: flex;
  align-items: center;
  padding-top: 110px;
}
.section-brand-title{
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
color: #FFFFFFCC;
text-align: center;
}
.section-newcomer-title{
font-size: 48px;
font-weight: 500;
line-height: 62px;
letter-spacing: 0em;
color: #FFFFFFE5;
}
.section-newcomer-text{
font-size: 18px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
color: #FFFFFF8C;
max-width: 427px;
}
.section-newcomer-btn{
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
color: #FFFFFFC7;
background-color: #1e252b;
border-radius: 8px;
padding-top: 16px;
padding-bottom: 15px;
width: 198px;
}
.section-newcomer-btn{
  background-color: #FF6E30;
  color: white;
}
.footer-span:hover{
  color: #FF6E30;
}
.join-title{
font-size: 48px;
font-weight: 500;
line-height: 62px;
letter-spacing: 0em;
color: #FFFFFFE5;
text-align: center;
}
.join-text{
font-size: 18px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
color: #FFFFFF8C;
max-width: 427px;
text-align: center;
}
.Line-text{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
color: #FFFFFFE5;
}
.container{
 max-width: 1224px;
 margin: 0 auto;
}
.section-hero{
  padding-top: 104px;
  margin-top: 100px;
  margin-bottom: 211px;
  background-image: url(../images/Illustration.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.nav-list-link{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: #FFFFFF8C;
  }
  .nav-list-item:nth-child(2) .nav-list-link::after{
      content: " V";
  }
.section-popular{
  padding-top: 200px;
  padding-bottom: 200px;
}
.section-join{
  padding-top: 250px;
  padding-bottom: 240px;
  margin-bottom: 300px;
}
.section-hero-title{
  margin-bottom: 30px;
}
.section-hero-text{
  margin-bottom: 60px;
}
.section-popular-title{
  margin-bottom: 25px;
  text-align: center;
}
.section-popular-text{
  margin-bottom: 90px;
  text-align: center;
}
.popular-list{
  margin-bottom: 100px;
  padding-top: 90px;
  display: flex;
  align-self: center;
  justify-content: center;
}
.section-newcomer-title{
  margin-bottom: 30px;
}
.section-newcomer-text{
  margin-bottom: 60px;
}
.newcomer-list-title{
  margin-bottom: 3px;
}
.newcomer-list-text{
  margin-bottom: 30px;
}
.newcomer-list-text:hover{
  color: #FFA537;
}
.join-title{
  margin-bottom: 25px;
}
.join-text{
  margin-bottom: 100px;
}
.header-container{
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
  align-items: center;
}
.header-link{
  display: flex;
  gap: 21px;
  align-items: center;
}
.nav-list{
  display: flex;
  gap: 41px;
}
.button-list{
  display: flex;
  gap: 41px;
}
.newcomer-list-text-sec{
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  color: #FFA537;
}
.section-logo-sec{
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
color: #FFFFFF;
background-color: #FF6E30;
}
.button{
  font-size: 16px;
font-family: Poppins;
font-weight: 600;
word-wrap: break-word;
border-radius: 8px;
width: 130px;
  padding: 12px 0;
  font-size: 16px;
  color: #FFFFFFC7;
  background-color: rgba(30, 37, 43, 1);
}
.button:hover{
  background-color: #FF6E30;
  color: #FDF5FF;
}
.section-hero-span{
  color: #FF6E30;
}
.nav-list-item:nth-child(2)::before{
  content:"" ;
  width: 18px;
  height: 18px;
  background-image: url(./img/chevron-down.png);
}
.nav-list-item:hover>a{
  color: #FF6E30;
}
.join-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join-list-inp-container{
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
.section-join-form{
  margin-bottom: 110px;
  position: relative;
  width: 549px;
}
.section-join-imput{
  width: 549px;
  padding-top: 21px;
  padding-bottom: 22px;
  padding-left: 24px;
  background-color: #283036;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.10);
}
.section-join-button{
  width: 130px;
  padding: 12px 0;
  background-color: rgba(30, 37, 43, 1);
  color: #FFFFFFC7;
  font-size: 16px;
font-family: Poppins;
font-weight: 600;
word-wrap: break-word;
border-radius: 8px;
position: absolute;
top: 8px;
right: 11px;
}
.section-join-button:hover{
  background-color: #FF6E30;
  color: white;
}
.response-decor-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-top: 101px;
}
.response-decor{
  display: inline-block; 
  width: 44px;
  height: 6px;
  border-radius: 4px;
  background-color: #283036;
}
.response-decor:nth-child(2){
  background-color: #FF6E30;
}
.response-box{
  display: flex;
  justify-content: center;
}
.section-response-text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: #FFFFFFC7;
  max-width: 393px;
  position: relative;
  }
  .section-response-text::before{
    content: "“";
    font-family: Lora;
    font-size: 250px;
font-weight: 500;
line-height: 320px;
letter-spacing: 0%;
text-align: left;
color: #ffffff11;
position: absolute;
top: 42px;
left: -71px;
transform: rotate(19.17deg);
    
  }
  .nav-footer-title {
      color: var(--title-font-color);
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .nav-footer-title:hover{
      color: #FFA537;
    }
    .nav-footer-item {
      color: var(--general-font-color);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-bottom: 10px;
    }
    .nav-footer-item:hover{
      color: #FF6E30;
    }
    .footer-Copyright-logo {
      color: var(--title-font-color);
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding-left: 12px;
    }
    .footer-Copyright-logo:hover{
      color: orange;
    }
    .footer-Copyright-title {
      color: var(--title-font-color);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .footer-Copyright-title:hover{
      color: #FFA537;
    }
    .nav-footer {
      display: flex;
      align-content: center;
      justify-content: space-around;
      gap: 115px;
      margin-left: 108px;
      margin-right: 233px;
      margin-bottom: 25px;
    }
    .nav-footer-list {
      padding-top: 73px;
      padding-bottom: 98px;
    }
    .footer-list-logo {
      display: flex;
      align-items: center;
    }
    .footer-Copyright-title {
      padding-bottom: 5px;
    }
    .nav-footer-title {
      padding-bottom: 20px;
    }
    .footer{
      border: 0.5px solid #FFFFFF26
    }
    .nav-footer-list-a{
      padding-top: 70px;
      padding-bottom: 139px;
    }
    .nav-footer-list-d{
      padding-top: 70px;
      padding-bottom: 173px;
    }
    .nav-footer-list-c{
      padding-top: 70px;
      padding-bottom: 139px;
    }
.section-newcomer{
  padding-top: 200px;
  padding-bottom: 200px;
}
.section-newcomer-title{
  margin-bottom: 30px;
}
.section-newcomer-text{
  margin-bottom: 60px;
}
.section-newcomer-btn{
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
color: #FFFFFF;
background-color: #FF6E30;
border-radius: 8px;
padding-top: 16px;
padding-bottom: 15px;
width: 198px;
}
.newcomer-list{
  display: flex;
  justify-content: right;
}
.newcomer-list-title{
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
color: #FFFFFFC7;
}
.newcomer-list-text{
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
color: #FFA5378C;
}
.newcomer-list-text-two{
font-size: 14px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
color: #FFFFFF8C;
max-width: 427px;
}
.popular-list-img{
  margin-right: 30px;
}
.section-popular-title{
font-size: 48px;
font-weight: 500;
line-height: 62px;
letter-spacing: 0em;
color: #FFFFFFE5;
}
.section-popular-text{
font-size: 18px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
color: #FFFFFF8C;
max-width: 427px;
margin: 0 auto;
}
.popular-list{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.popular-list-item{
  box-sizing: border-box;
  flex-basis: 392px;
  padding-top: 38px;
  padding-bottom: 33px;
  padding-left: 33px;
  padding-right: 33px;
  background-repeat: no-repeat;
}
.popular-list-item:hover{
  background-image: url(../images/tools-back\ \(2\).png);
}
.popular-list-title{
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
color: #FFFFFFC7;
}
.popular-list-text{
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
color: #FFA5378C;
}
.popular-list-text:hover{
  color: #FFA537;
}
.popular-list-text-two{
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
color: #FFFFFF8C;
max-width: 326px;
margin-bottom: 30px;
}
.section-logo{
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
color: #FFFFFF8C;
text-align: left;
padding: 9px 35px;
border-radius: 8px;
background-color: transparent;
border: none;
}
.section-logo:hover{
  background-color: #FF6E30;
  color: #FFFFFF;
}
.popular-list-text-sec{
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
color: #FFA537;
}
.section-popular-btn{
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
color: #FF6E30;
background-color: #1E252B;
border: 1px solid #FFFFFF1A;
border-radius: 8px;
width: 184px;
padding: 17px 0;
text-align: center;
}
.section-popular-btn:hover{
  background-color: #FF6E30;
  color: #FDF5FF;
}
.nav-footer-Copyright-item{
padding-bottom: 21px;
}
.section-response-img{
  padding-right: 57px;
}
.bunner-form {
}
.bunner-input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background-color: #283036;
  padding-left: 55px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 11px;
}

.bunner-input-wrap::before {
  content: ""; /*\1F50D*/
  position: absolute;
background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none"><path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="white" stroke-opacity="0.38" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M21 20.9999L16.65 16.6499" stroke="white" stroke-opacity="0.38" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  width: 24px;
  height: 24px;
  display: block;
  top: 20px;
  left: 18px;
  background-color: transparent;
  color: #ffffff61;
}

.bunner-input {
  width: 70%;
  color: rgba(255, 255, 255, 0.38);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #283036;
  border: none;
  outline: none;
}
.section-trusted {
  background-color: #2c353d33;
  border-radius: 25px;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 1224px;
  height: 253px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 220px;
  background-image: url(../images/brand.png);
}
.trusted-title {
  color: var(--title-font-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  padding-top: 55px;
}
.trusted-list {
  display: flex;
  justify-content: center;
  gap: 107px;
  padding-top: 55px;
  padding-bottom: 60px;
}
.section-logo-heart{
  width: 30px;
  height: 30px;
  background-image: url(../images/Vector\ \(3\).svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  margin-right: 12px;
}
.section-logo-heart:hover{
  background-image: url(../images/Vector\ \(2\).svg);
}
.section-logo-folder{
  width: 30px;
  height: 30px;
  background-image: url(../images/Group.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}
.section-logo-folder:hover{
  background-image: url(../images/Group\ \(1\).svg);
}
.newcomer-list-item:hover{
  background-image: url(../images/Rectangle\ 5.png);
}
.item-wrap{
  display: flex;
  row-gap: 15px;
  margin-bottom: 30px;
}
.item-icons{
  display: flex;
  align-items: center;
}
.d{
  display: flex;
  justify-content: space-between;
  margin-right: 124px;
}
.popular-div{
  text-align: center;
}
.newcomer-container{
  display: flex;
}
.newcomer-list-img{
  margin-right: 30px;
}
.newcomer-list-item{
  background-repeat: no-repeat;
}
.div{
  display: flex;
  justify-content: space-between;
  margin-right: 43px;
}